* {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    border: none;
    color: rgb(28, 26, 26);
    font-family: "Montserrat", sans-serif;



}

body {

    background-color: mistyrose;
}


/*logo styling*/
#logo {
    padding-top: 0px;


    font-weight: bold;

    float: left;
    font-size: 25px;
    margin-left: 10px;


}



/* navbar(menu) styling*/



#menu ul {


    list-style-type: none;


    margin: 20px;
    padding: 10px;

    text-align: center;



}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    text-transform: capitalize;
}



/*tagline styling*/
#tag-line {
    margin-top: 100px;
    text-align: center;
    text-transform: capitalize;

}

/* main page image*/
#yarn {
    padding-top: 20px;
}

#yarn image {

    width: 700px;
    height: 700px;
    padding-top: 50px;
    padding-left: 50px;
    object-fit: cover;



}


#about-us h2 {
    text-align: center;

}







/* footer social media links*/
#social-media {
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;



}

#social-media li {
    list-style-type: none;
    display: contents;
    text-transform: capitalize;
    font-size: 25px;
    word-spacing: 30px;


}

/* about us page*/
#story h1 {
    padding-top: 120px;

    padding-left: 10px;
    font-size: 40px;


}

#story p {
    word-spacing: 4px;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 30px;
    padding-bottom: 40px;
    text-align: left;

}

#image {
    padding-top: 60px;

    padding-left: 60px;
    padding-right: 60px;


}


#image img {
    width: 350px;
    height: 350px;
    object-fit: cover;


}

/*written pattern page*/
#written-pattern h2 {
    padding-top: 90px;
    padding-left: 30px;
    text-align: center;
    text-transform: capitalize;
}

#dish-cloth img {

    width: 375px;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;

    margin: 0 auto;
    text-align: center;
    border: 10px solid grey;
}

#dish-cloth h3 {
    text-align: left;
    text-transform: capitalize;

}

#dish-cloth p {
    word-spacing: 4px;



    padding-top: 20px;
    padding-left: 10px;
    font-size: 30px;
    padding-bottom: 40px;
    text-align: left;
}


#dish-cloth h3 {
    color: blue;
    font-weight: bolder;
}

#crochet-dress img {

    width: 375px;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;

    margin: 0 auto;
    text-align: center;
    border: 10px solid grey;
}


#crochet-dress h3 {
    text-align: left;
    text-transform: capitalize;

}

#crochet-dress p {
    word-spacing: 4px;



    padding-top: 20px;
    padding-left: 10px;
    font-size: 30px;
    padding-bottom: 40px;
    text-align: left;
}


#crochet-dress h3 {
    color: blue;
    font-weight: bolder;
}

#sleeveless-sweater img {

    width: 375px;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;

    margin: 0 auto;
    text-align: center;
    border: 10px solid grey;
}

#sleeveless-sweater h3 {
    text-align: left;
    text-transform: capitalize;

}

#sleeveless-sweater p {
    word-spacing: 4px;



    padding-top: 20px;
    padding-left: 10px;
    font-size: 30px;
    padding-bottom: 40px;
    text-align: left;
}

#sleeveless-sweater h3 {
    color: blue;
    font-weight: bolder;
}

#heart img {

    width: 375px;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;

    margin: 0 auto;
    text-align: center;
    border: 10px solid grey;
}

#heart h2 {
    text-align: left;
    text-transform: capitalize;

}

#heart p {
    word-spacing: 4px;



    padding-top: 20px;
    padding-left: 10px;
    font-size: 30px;
    padding-bottom: 40px;
    text-align: left;
}

#heart h3 {
    color: blue;
    font-weight: bolder;
}



/* contact us page*/


#contact-us div {

    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: auto;



}


#contact-us form {

    display: flex;

    flex-direction: column;

    align-items: center;

    margin: 0 auto;










}





#contact-us form button {
    font-size: larger;
    font-weight: bold;
    background-color: mistyrose;


}

#contact-us textarea {
    border: 2px solid;
    padding: 3px;
    color: black;
}

#contact-us input {
    border: 2px solid;
    padding: 5px;

}

#contact-us fieldset {
    border: 1px solid black;
    width: 350px;
    height: 400px;
    margin-left: 4px;
    padding-left: 4px;
    align-items: center;
    padding-top: 20px;




}

#contact-us legend {
    font-size: 30px;
    font-weight: bold;


}

/* video tutorial page*/

#video h2 {
    padding-top: 50px;
}

#video iframe {

    height: 600px;
    width: 100%;
    /* animation*/
    transition: transform 0.3s ease-in-out;

}

#video {
    position: relative;

    overflow: hidden;

}








/*footer background*/
footer {

    background-color: rosybrown;

    padding: 0;



}

html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}


/* submit form page*/


#message h2 {
    text-transform: capitalize;
    padding-top: 20px;


}

#message h2,
p {
    text-align: center;
    font-size: 40px;


}

/* Styles for extra small devices (up to 600px) */
@media only screen and (max-width: 600px) {
    body {
        width: 100%;


    }

    #menu ul {
        width: 100%;
        text-align: right;

    }

    #menu li {
        font-size: 14px;
        width: 100%;
        text-align: right;
        ;

    }

    /*
    #contact-us {
        margin-left: 0;
    }*/

    #yarn img {
        width: 100%;
        height: 400px;
    }

    #video {
        width: 375px;

    }




}



/* Styles for medium devices (landscape tablets: 768px to 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        width: 100%;

    }

    #menu ul {
        width: 100%;

    }

    #menu li {
        font-size: 16px;
    }



    #yarn img {
        width: 100%;
        height: 500px;
    }




}


/* Styles for large devices (laptops/desktops: 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        width: 100%;

    }

    #menu {
        width: 100%;
    }

    #menu li {
        font-size: 20px;
    }

    #yarn img {
        width: 100%;
        height: 900px;
    }


}